*.o
*.
*.a
bin/Makefile.scripts
bin/autorun/autorun
bin/checker/checker
bin/file2hex/file2hex
bin/indexgen/indexgen
bin/ivcomp/ivcomp
bin/pktbuf/pktbuf
bin/pktctl/pktctl
bin/pktlint/pktlint
bin/pktrecv/pktrecv
bin/pktsend/pktsend
bin/prfcomp/prfcomp
bin/x509dec/x509dec
lib/pkt/PzParse.cc
lib/pkt/PzParse.h
lib/pkt/bpf.h
**/MYMETA.json
**/MYMETA.yml
**/Makefile.tmp
**/blib/
**/pm_to_blib
